/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300;400;500;700&display=swap');


/* Global Styles */
*{
    font-family: 'Montserrat', sans-serif;
    color: #231D4F;
    
}
li{
    list-style-type: none;
    padding-top: 6px;
}














/* Utility Styles */


.colored__text{
    color:#c9184a;
}
.fw__semibold{
    font-weight: 500;
}
.text__white{
    color:white;
}

.primary__btn{
    text-decoration: none;
    border: 0;
    padding: 10px 25px;
    color: #c9184a;
    background-color: white;
    font-weight: 600;
    border-radius: 8px;

}

.primary__btn:hover{
    
    background-color:#c9184a;
    color: white;
    transition: 200ms ease-in;
}
.fs__heading{
    font-size: 3rem;
}

.c__pointer{
    cursor: pointer;
}



/* custom card styles */

.card{
    
    height: 500px ;
    
}

.card img{
  
    object-fit: cover;
    object-position: center;
    filter: grayscale(100%);
}

.card img:hover{
    filter: grayscale(0%);
    transition: filter 200ms ease-in;
}
 


/* custom package styles */

.package__wrapper{
    border-radius: 20px;
}

/* card animation starts */


.__package:hover{
    transform: translateY(-30px);
    transition: transform 200ms ease-in;
    
  
}
.__package:hover .package__wrapper{
    background-color: #c9184a;
    cursor: pointer;
    
    box-shadow: #c9184a3f 0px 48px 100px 0px;
    
}

.__package:hover .card-body h2{
        color:white;
}

.__package:hover .card-body h4{
    color:white;
}

.__package:hover .card-body p{
    color:white;
}

.__package:hover .card-body li{
    color:white;
}

.__package:hover .card-body i{
    color:white;
}

.__package:hover .package__btn{
    background-color: white;
    color:#231D4F;
}




/* card animation ends */



.package__btn{
    border:0;
    padding: 8px 25px;
    border-radius: 20px;
    background-color: #c9184a;
    color: white;
    font-weight: 500;
    
}







/* custom responsiveness */


@media (max-width: 1200px) {

    .carousel-item{
        height: 50vh;
    }

    .fs__heading{
        font-size: 2.5rem;
    }
    .carousel-item img{
        object-fit: cover;
        object-position: center;
    }


}

@media(max-width: 768px){
    .fs__heading{
        font-size: 1.5rem;
        line-height: 1.4;
    }
    .carousel-item p{
        font-size: 13px;
    }

}


